@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: #222425;
}

a {
  text-decoration: none;
}

.loader__ul {
  padding: 0;
}

.swiper {
  width: 65%;
}

.swiper-pagination {
  bottom: 40px!important;
}

.swiper-horizontal span {
  background: #2e2e2e;
}

.header__logo--m {
  display: none;
}

body {
  margin: 0 auto;
  background-color: #222425;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

#content {
  display: none;
}

.header__contacts--link {
  font-size: 1.9rem;
  animation: animate 5s ease-in-out infinite;
  background: linear-gradient(-60deg, #a4091d, #bd6c6c , #8F241F, #ee7752);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



@keyframes animate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.page__text {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: calc(20px + 2vw) 2vw;
  padding-bottom: 0;
}

#slider {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  z-index: 100;
  overflow: hidden;
  white-space: nowrap;
}

#slider > li {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  background-size: cover;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}

.page__wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 12vw;
}

.header__logo--img {
  width: 100%;
}

.header__banner {
  width: 70%;
  max-height: calc(100vh - 20px);
}

.header__banner--img {
  width: 100%;
  height: 100%;
}

.header__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  padding: 4vw 0;
}

.header__title {
  font-weight: 400;
  margin-bottom: 2%;
}

.header__contacts {
  font-weight: 700;
  color: #AE2121;
  margin-bottom: 10%;
}

.header__link--inner {
  color: white;
  text-decoration: none;
  transition: 0.15s ease-in;
}

.header__link--inner:hover {
  color: #a3a3a3;
}

.footer__contacts--link:hover {
  color: #a3a3a3;
}

.header__link--height {
  line-height: 180%;
}

.header__link {
  margin-bottom: 5%;
  display: flex;
  text-decoration: none;
  transition: 0.15s ease-in;
  cursor: pointer;
  flex-wrap: wrap;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts a:nth-child(2) {
  margin: 10px 0;
}

.footer__contacts--link, .banner__adaptive--link {
  text-decoration: none;
  color: white;
  transition: 0.15s ease-in;
}

.header__subsection {
  margin-bottom: 5%;
  margin-left: 11%;
}

.hexagon {
  width: 6%;
  margin-right: 5%;
}

.banner__text--wrapper {
  font-size: 1.4rem;
  margin-top: auto;
}

.banner__title {
  background-color: rgba(144, 36, 31, 0.93);
  display: flex;
  align-items: center;
}

.banner__title--inner {
  font-weight: 300;
  padding: 3%;
}

.banner__title--adaptive {
  display: none;
}

.ornament {
  margin: 3% 0;
}

.ornament__inner {
  width: 100%;
}

.making {
  width: 100%;
  display: flex;
  align-items: center;
}

.making__text {
  width: 60%;
}

.making__text--inner {
  width: 78%;
  margin: 4vw;
  font-weight: 200;
  font-size: 1.9vw;
}

.making__text--wrapper {
  background-color: rgba(144, 36, 31, 0.93);
  display: flex;
  align-items: center;
  padding: 2%;
}

.making__image {
  width: 33%;
  padding-left: 5vw;
}

.making__image--inner {
  width: 100%;
}

.making__image--text {
  padding-right: 5vw;
  display: flex;
  justify-content: flex-end;
  font-weight: 100;
  font-size: 1.5vw;
}

.making__grid {
  width: 40%;
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  aspect-ratio: 2/3;
  height: 100%;
}

.making__grid1:hover {
  transform: translate(-20%, -20%) scale(1.3);
}

.making__grid2:hover {
  transform: translate(-30%, 10%) scale(1.5);
}

.making__grid3:hover {
  transform: translate(-20%, -20%) scale(1.3);
}

.making__grid4:hover {
  transform: translate(-20%, -20%) scale(1.3);
}

.making__grid5:hover {
  transform: translate(-20%, -20%) scale(1.3);
}

.making__grid1 {
  grid-area: 2 / 2 / 3 / 3;
  transition: 0.4s;
  overflow: hidden;
}

.making__grid2 {
  grid-area: 3 / 1 / 4 / 3;
  transition: 0.4s;
  overflow: hidden;
}

.making__grid3 {
  grid-area: 1 / 1 / 2 / 2;
  transition: 0.4s;
  overflow: hidden;
}

.making__grid4 {
  grid-area: 1 / 2 / 2 / 3;
  transition: 0.4s;
  overflow: hidden;
}

.making__grid5 {
  grid-area: 2 / 1 / 3 / 2;
  transition: 0.4s;
  overflow: hidden;
}

.making__grid1--image, .making__grid2--image {
  width: 100%;
}

.making__grid3--image, .making__grid4--image, .making__grid5--image {
  width: 100%;
  height: 100%;
}

.range__title {
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-size: 1.9vw;
}

.range__description {
  font-weight: 100;
  margin: 5% 0;
  font-size: 1.4vw;
}

.range__subtitle {
  font-size: 1.6vw;
  font-weight: 300;
  margin: 0;
}

.range__wrapper {
  margin: 0 4%;
}

.range__example {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range__example--img {
  width: 6%;
}

.range__example9--img {
  width: 4%;
}

.range__example4--img {
  width: 8%;
}

.range {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}

.range__example--img, .range__example4--img, .range__example9--img {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}

.cell {
  list-style: none;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  display: flex;
  transition: .3s;
}

.cell:hover {
  transform: scale(1.15);
  z-index: 999;
}

.cell li {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.cell__price {
  user-select: none;
  font-weight: 100;
  font-size: 1.4vw;
}

.cell__img {
  width: 100%;
  height: 100%;
}

.cell li > .cell__price {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cell li:hover > .cell__price {
  position: absolute;
  top: 0;
  left: 0;
}

.cell li .cell__price {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease-in-out;
  color: #fff;
}

.cell li .cell__img {
  transition: all 0.3s linear;
}

.cell li:hover .cell__img {
}

.cell li:hover .cell__price {
  opacity: 1;
}

.footer__inner {
  margin: 3% 4%;
  display: flex;
  justify-content: space-between;
  line-height: 3vw;
  font-size: 1.5vw;
}

.footer__logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 100%;
}

.footer__link {
  font-weight: 200;
  padding-left: 2%;
  max-width: 15%;
}

.footer__img {
  width: 48%;
  transition: 0.15s ease-in;
}

.footer__img:hover {
  filter: brightness(0.5);
}

.range__subtitle--top, .header__menu {
  font-weight: 100;
}

.footer__address, .footer__link--inner, .footer__bank-details--inner, .footer__check--inner {
  font-weight: 200;
}

.footer__address--inner, .footer__contacts, .footer__description, .footer__check, .footer__bank-details {
  font-weight: 300;
}

.scrollup {
  position: fixed;
  background-color: #90241fa1;
  right: 36px;
  bottom: 36px;
  font-size: 30px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  text-align: center;
  z-index: 9999;
  transition: all 0.2s ease-in 0s;
}

.scrollup:hover {
  background-color: rgb(71, 5, 5);
}

.scrollup i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  height: 112px;
  width: 112px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader__ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-animation: rot 16s linear infinite;
          animation: rot 16s linear infinite;
}
@-webkit-keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}

.loader__li {
  width: 20px;
  height: 20px;
  background: #fa2424;
  border-radius: 4px;
  box-shadow: 0 0 1px #fff, 0 0 5px #9A1313, 0 0 10px #9A1313, 0 0 15px #9A1313, 0 0 25px #9A1313, 0 0 55px #9A1313;
  -webkit-animation: scale 0.8s linear alternate infinite;
          animation: scale 0.8s linear alternate infinite;
}
@-webkit-keyframes scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
li:nth-child(1) {
  z-index: 24;
}
li:nth-child(2) {
  z-index: 23;
}
li:nth-child(3) {
  z-index: 22;
}
li:nth-child(4) {
  z-index: 21;
}
li:nth-child(5) {
  z-index: 20;
}
li:nth-child(6) {
  z-index: 19;
}
li:nth-child(7) {
  z-index: 18;
}
li:nth-child(8) {
  z-index: 17;
}
li:nth-child(9) {
  z-index: 16;
}
li:nth-child(10) {
  z-index: 15;
}
li:nth-child(11) {
  z-index: 14;
}
li:nth-child(12) {
  z-index: 13;
}
li:nth-child(13) {
  z-index: 12;
}
li:nth-child(14) {
  z-index: 11;
}
li:nth-child(15) {
  z-index: 10;
}
li:nth-child(16) {
  z-index: 9;
}
li:nth-child(17) {
  z-index: 8;
}
li:nth-child(18) {
  z-index: 7;
}
li:nth-child(19) {
  z-index: 6;
}
li:nth-child(20) {
  z-index: 5;
}
li:nth-child(21) {
  z-index: 4;
}
li:nth-child(22) {
  z-index: 3;
}
li:nth-child(23) {
  z-index: 2;
}
li:nth-child(24) {
  z-index: 1;
}
li:nth-child(25) {
  z-index: 0;
}
li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
li:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(13) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(19) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
li:nth-child(24) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
li:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
li:nth-child(14) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
li:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(9) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(15) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
li:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
li:nth-child(6) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
li:nth-child(11) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(16) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
li:nth-child(21) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
li:nth-child(12) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
li:nth-child(17) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(22) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
li:nth-child(13) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
li:nth-child(18) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
li:nth-child(23) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
li:nth-child(19) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
li:nth-child(24) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
li:nth-child(25) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@media (max-width: 976px) {
  .header__banner--img {
    height: 90%;
  }
  .range {
    grid-template-columns: repeat(4, 1fr)
  }

  .header__title {
    display: none;
  }

  .header__contacts {
    margin-bottom: 10%;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hexagon {
    width: 1rem;
  }

  .banner__title {
    padding: 1% 5%;
  }

  .making__text--inner {
    font-size: 1.3rem;
  }

  .making__image--text {
    font-size: 1rem;
  }

  .range__title {
    font-size: 1.7rem;
  }

  .range__subtitle {
    font-size: 1.3rem;
  }

  .range__text {
    font-size: 1.2rem;
  }

  .footer__description {
    display: none;
  }

  .footer__inner {
    font-size: 1rem;
  }

  .footer__img {
    width: 60%;
  }

  .footer__contacts {
    max-width: 20%;
  }

  .header__contacts--link {
    display: flex;
    flex-direction: column;
  }

  .cell__price {
    font-size: 1rem;
  }

  .range__description {
    font-size: 1.2rem;
  }
}

@media (max-width: 740px) {
  .header__contacts {
    font-size: 1rem;
  }

  .header__menu {
    width: 100%;
  }

  .footer__logo {
    display: none;
  }

  .footer__link {
    max-width: 10%;
  }

  .footer__contacts {
    max-width: 30%;
  }
}

@media (max-width: 710px) {
  .banner__title--inner {
    display: none;
  }

  .banner__title--adaptive {
    display: block;
  }

  .banner__title {
    display: none;
  }

  .banner__text--wrapper {
    left: 35%
  }

  html {
    font-size: 13px;
  }

  .making__text, .making__grid {
    width: 50%;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 12px;
  }

  .footer__inner {
    font-size: 0.9rem;
  }

  .making__text {
    width: 40%;
  }

  .making__grid {
    width: 60%;
  }

  .page__text {
    width: auto;
    min-width: 178px;
  }

  .header__banner {
    display: flex;
    align-items: center;
    width: auto;
  }

  .header__menu {
    margin-top: 0;
  }
}

@media (max-width: 500px) {

.header__text {
  padding: 0;
}
  
.header__logo {
  display: none;
}

.header__logo--m {
  display: block;
  padding: 2vw;
  min-width: 80px;
  width: 12vw;
}

.swiper {
  width: 100%;
}

  .page__wrapper {
    flex-direction: column-reverse;
  }

  .range {
    grid-template-columns: repeat(3, 1fr)
  }

  html {
    font-size: 11px;
  }

  .footer__contacts {
    max-width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer__address {
    width: 50%;
  }
}


@media (max-width: 450px) {
  html {
    font-size: 12px;
  }

  .footer__inner--check {
    display: block;
  }

  .header__banner {
    min-width: 0px;
  }

  .making {
    flex-direction: column;
  }

  .making__text, .making__grid  {
    width: 100%;
  }

  .making__text--inner {
    margin: 4vw 4vw 8vw 4vw;
    width: auto;
  }

  .making__grid1:hover {
    transform: none;
  }

  .making__grid2:hover {
    transform: none;
  }

  .making__grid3:hover {
    transform: none;
  }

  .making__grid4:hover {
    transform: none;
  }

  .making__grid5:hover {
    transform: none;
  }

  .making__text--inner {
    font-size: 1.5rem;
  }

  .footer__inner {
    font-size: 1.6rem;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    line-height: normal;
  }

  .footer__link {
    width: 40%;
    padding-left: 0;
    max-width: 100%;
  }

  .footer__images {
    display: flex;
  }

  .footer__mail--inner, .footer__tg--inner {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__contacts {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer__address {
    width: auto;
    margin-bottom: 1.5rem;
  }

  .footer__contacts--link {
    width: 100%;
    display: flex;
    font-size: 1.7rem;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 8px;
  }
}
