@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

body {
  margin: 0 auto;
  background-color: #222425;
  font-family: 'Oswald' , sans-serif;
  color: #fff;
}

.page__wrapper {
  display: flex;
  position: relative;
}

.header__logo {
  min-width: 75px;
  margin: 2vw 14vw 0 4vw;
  width: 10%;
}

.header__logo--img {
  width: 100%;
}

.header__banner {
  min-width: 250px;
  width: 45%;
  max-height: 100vh;
}

.header__banner--img {
  width: 100%;
  height: 100%;
}

.header__text {
  color: white;
  padding: 2vw;
  font-size: 1.5vw;
  width: 23%;
}

.header__title {
  font-weight: 400;
  margin-bottom: 2%;
}

.header__contacts {
  font-weight: 700;
  color: #AE2121;
  margin-bottom: 10%;
}

.header__menu {
  font-weight: 100;
}

.header__link--inner {
  color: white;
  text-decoration: none;
}

.header__link {
  margin-bottom: 5%;
  display: flex;
  text-decoration: none;
  transition: filter .7s ease-in-out;
  cursor: pointer;
}

.header__link:hover {
  filter: brightness(3.5);
}

.header__subsection {
  margin-bottom: 5%;
  margin-left: 11%;
}

.hexagon {
  width: 6%;
  margin-right: 5%;
}

.banner__text--wrapper {
  left: 13%;
  position: absolute;
  top: 70%;
  width: 30%;
  font-size: 1.6vw;
}

.banner__title {
  background-color: rgba(144, 36, 31, 0.93);
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.banner__title--inner {
  font-weight: 300;
  padding: 3% 0;
}

.banner__subtitle {
  font-weight: 200;
  width: 100%;
  margin-top: 5%;
}

.ornament {
  margin: 3% 0;
}

.ornament__inner {
  width: 100%;
}

.making {
  width: 100%;
  display: flex;
}

.making__text {
  width: 57%;
}

.making__text--inner {
  width: 78%;
  margin: 4vw;
  font-weight: 200;
  font-size: 1.9vw;
}

.making__image {
  width: 33%;
  padding-left: 5vw;
}

.making__image--inner {
  width: 100%;
}

.making__image--text {
  padding-right: 5vw;
  display: flex;
  justify-content: flex-end;
  font-weight: 100;
  font-size: 1.5vw;
}

.making__grid {
  aspect-ratio: 1/1;
  width: 43%;
  display: grid;
  grid-template-columns: 30% repeat(2, 33%);
  grid-template-rows: 42% 56%;
  justify-content: space-between;
  align-content: space-between;

}

.making__grid1 { 
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden; 
}
.making__grid2 { 
  grid-area: 1 / 2 / 2 / 3; 
  overflow: hidden; 
}
.making__grid3 {
 grid-area: 1 / 3 / 2 / 4; 
 overflow: hidden; 
}
.making__grid4 { 
  grid-area: 2 / 1 / 3 / 4; 
  overflow: hidden; 
}

.making__grid1--image {
  width: 100%;
  height: 100%;
}

.making__grid2--image {
  width: 200%;
}

.making__grid3--image {
  width: 180%;
}

.making__grid4--image {
  width: 100%;
}

.range__title {
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-size: 1.9vw;
}

.range__description {
  font-weight: 100;
  margin: 3% 0;
  font-size: 1.4vw;
}

.range__subtitle {
  font-size: 1.6vw;
  font-weight: 300;
  margin: 3% 0;
}

.range__wrapper {
  margin: 0 4%;
}

.range {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}

.cell {
  list-style: none;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  display: flex;
}

.cell li {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.cell__price {
  font-weight: 100;
  font-size: 1.4vw;
}

.cell__img {
  width: 100%;
  height: 100%;
}

.cell__img--star {
  width: 103%;
  height: 103%;
}

.cell li > .cell__price {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.cell li:hover > .cell__price {
  position: absolute;
  top: 0;
  left: 0;
}

.cell li .cell__price {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease-in-out;
  color: #fff;
}

.cell li .cell__img {
  transition: all 0.2s linear;
}

.cell li:hover .cell__img {
}

.cell li:hover .cell__price {
  opacity: 1;
}

.footer__inner {
  margin: 3% 4%;
  display: flex;
  justify-content: space-between;
  line-height: 3vw;
  font-size: 1.5vw;
}

.footer__logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.footer__img {
  width: 100%;
}

.footer__description {
  font-weight: 300;
}

.footer__mail, .footer__tg {
  display: flex;
  align-items: center;
}

.footer__tg--inner {
  text-decoration: none;
  color: white;
}

.footer__mail--inner {
  text-decoration: none;
  color: white;
}

.footer__link {
  font-weight: 200;
  padding-left: 2%;
}

.footer__link--inner {
  font-weight: 200;
}

.footer__contacts {
  font-weight: 300;
}

.footer__address {
  font-weight: 200;
}

.footer__address--inner {
  font-weight: 300;
}